      <article class='article'>
      <header>
          <h1> $title$ </h1>
          $if(subtitle)$ <p> $subtitle$ </p> $endif$
          $if(period)$ <div> $period$ </div> $endif$
          $if(author)$ <div class='author'> Contributors: $author$</div> $endif$
          <div class='collections'>
          Collections: <ul class='tags'><li>Portuguese Period</li>
                           <li>St Andrew Church</li>
                           <li>Santa Anna Church</li></ul>
          </div>
      </header>
      $body$
      </article>

