*                   { box-sizing: border-box; }

/* Styling */
/* ======= */

html                {  background-color: #f6f6f6;
                       font-family: Times New Roman, serif;
                    }

body > header       { margin-bottom: 3rem; }
body > header h1    { font-size: 1.4rem; font-weight: bold; }

h1 a                { text-decoration: none; color: inherit; }
article             { padding-top: 1rem;
                      padding-bottom: 1rem;
                    }

article,
.article-list li          { padding-left: 2rem;
                            padding-right: 2rem;
                            border-radius: 0.8rem;
                          }

.article header           { border-bottom: 1px solid grey;
                            padding-bottom: 6px;
                          }
.article header p         { margin-top: 0.2rem; margin-bottom: 0rem; }
.article h2               { font-size: 1.6rem;
                            font-weight: bold;
                          }

h3, h4                    { font-weight: normal; }

article h1                { font-size: 1.8rem; font-weight: bold; color: #4b4a4a; }
article                   { font-size: 1.5rem; }
figure                    { font-size: 1.2rem; margin: 0px; }
.article      header > h1 { margin-bottom: 0; }
.article      header > .author
                          { font-size: 1.2rem; padding-top: 0.4rem; }
.article-list h1          { font-size: 1rem; font-weight: bold; }
.article-list li          { padding-top: 1rem;
                            padding-bottom: 1rem;
                            font-size: 1.1rem;
                            background-color: white;
                          }
.article-list li > a      { display: block; text-decoration: none; color: #4b4a4a; }
.article-list address     { font-style: normal; font-size: 0.8rem }
.article-list address a   { color: #4b4a4a; }
.article-list img         { max-width: 100%; }

/* Margin Notes
 * From: https://kennethfriedman.org/thoughts/2019/marginal-notes/
 */

.article > :not(:nth-child(2)):not(.aside):not(header):not(:has(> .fullwidth)) { padding-left: 24rem; }
aside, .aside {
    display: inline;
    float: left;
    clear: left;
    position: relative;
    width: 17rem;
    font-size: 16px;
}

/* Layout */
/* ====== */

.period, .article-list, .article
                    {  max-width: 62rem;
                       margin-left: auto;
                       margin-right: auto;
                       background-color: #fff;
                    }

p       > img,
figure  > img       { max-width: 100% }

.article-list       { display: flex;
                      list-style: none;
                      padding: 0;
                      flex-wrap: wrap;
                      justify-content: space-between;
                      row-gap: 1rem;
                    }

.article-list li > * { width: 16rem; }
.article-list img   { height: 12rem; }

.tags               { display: flex; list-style: none; padding: 0px; margin: 0px;
                      margin-top: 0.2rem;
                    }
.tags li            { font-size: 0.8rem;
                      padding: 0.2em;
                      background-color: #e1e1e1;
                      margin-right: 0.4rem;
                      border-radius: 0.2rem;
                    }

.columns            { display: flex; }
.column             { flex: 1; }
.by-theme   ul,
.by-period  ul      { list-style: none; padding: 0px; }
