      <ul class='periods'>
      $for(periods)$
           <li $if(current)$ class='currentpage' $endif$ >
              <a href='$url$' title="$title$">$periodStart$-$periodEnd$</a>
           </li>
      $endfor$
      </ul>
      <article>
      <h1> $title$ </h1>
      $body$
      </article>
      <ul class='article-list'>
          $for(articles)$
          <li>
              $if(periodStart)$$if(periodEnd)$<div>$periodStart$-$periodEnd$</div>$endif$$endif$
              <h1><a href='$url$'> $title$</a></h1>
              <img src='thumbnail' />
              <address class="author">Article by $author$</address>
              <ul class='tags'><li>Parsis</li><li>Land</li><li>Portuguese</li></ul>
          </li>
          $endfor$
      </ul>
