      <ul class='periods'>
      $for(periods)$
           <li $if(current)$ class='currentpage' $endif$ >
              <a href='$url$' title="$title$">$periodStart$-$periodEnd$</a>
           </li>
      $endfor$
      </ul>
      <article class='period'>
      <h1> $title$ </h1>
      $body$
      </article>
      <ul class='article-list'>
          $for(articles)$
          <li>
              <a href='$url$'>
              <div class='period'>$if(period)$$period$$else$&nbsp;$endif$</div>
              <h1> $title$</h1>
              <img src='$if(thumbnail)$$thumbnail$$endif$' />
              <address class="author">Article by $author$</address>
              <ul class='tags'><li>Parsis</li><li>Land</li><li>Portuguese</li></ul>
              </a>
          </li>
          $endfor$
      </ul>
