/* Styling */
/* ======= */

html                {  background-color: #f8f5f5;
                       font-family: garamond, serif;
                       display: flex;
                       flex-direction: row;
                       font-family: sans-serif;
                    }
h1, h2, h3, h4      { font-weight: normal; }
header > h1         { font-size: 1.6rem; }
h1                  { font-size: 1.4rem; }
h2                  { font-size: 1.2rem; }


/* Layout */
/* ====== */

body                {  max-width: 45rem;
                       margin: auto;
}

figure img          {  max-width: 100% }
figure figcaption   {  font-size: 0.8rem; }
