
/* Styling */
/* ======= */

html                {  background-color: #f8f5f5;
                       font-family: garamond, serif;
                       display: flex;
                       flex-direction: row;
                    }
h1, h2, h3, h4      { font-weight: normal; }
header > h1         { font-size: 1.6em; }
header > h2         { font-size: 1.2em; }
h1                  { font-size: 1.4em; }

/* Layout */
/* ====== */

body                {  max-width: 40em;
                       margin: auto;
                    }

figure              {  width: 100% }
figure              {  margin-left: 0em;  margin-right: 0em;  }
figure img          {  width: 40em }
figure figcaption   {  font-size: 0.8em; }
