html, body {
  margin: 0 auto;
  max-width: 80em;
}

.transcribed {
    display: flex;
    flex-direction: column;
}

.transcribed .page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.transcribed .page img,
.transcribed .page .line-block {
    max-width: 30em;
    flex: 30em;
}

.transcribed .page .line-block {
    padding: 2em;
}
